.App {
  font-family: sans-serif;
  margin: 0 auto;
  max-width: 450px;
  overflow: hidden;
}

/* Title design */
h1 {
  position: relative;
  left: -25%;
  width: 150%;
  height: 150px;
  text-align: center;
  border-radius: 0 0 40% 65%;
  background: linear-gradient(
    to right,
    rgba(225, 103, 92, 1),
    rgba(230, 98, 98, 1)
  );
  color: #eee;
  padding: 2rem 0;
}

/* Form container */
.form {
  padding: 2rem 0;
}

/* Button design */
.btn {
  width: 100%;
  display: block;
  padding: 0.7rem 1.4rem;
  text-transform: uppercase;
  border: 0;
  border-radius: 25px;
  font-size: 1.1rem;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: linear-gradient(
    to right,
    rgba(225, 103, 92, 1),
    rgba(230, 98, 98, 1)
  );
  color: #eee;
  cursor: pointer;
  box-shadow: 0 5px 15px 0 #ccc;
}


/* Label design */
.label {
  display: block;
  font-size: 0.8rem;
  margin: 0.5rem 0;
}

/* Input design */
.input-field {
  width: 100%;
  display: block;
  border: 1px solid #aaa;
  outline: none;
  padding: 0.7rem 1.4rem;
  border-radius: 5px;
  margin-bottom: 2rem;
  box-sizing: border-box;
}

/* Status field design */
.status {
  text-align: center;
  margin: 2rem 0;
  background: #ddd;
  border-radius: 5px;
  padding: 2rem 0;
  font-size: 1.5rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
